/* || Play Header */
.play-header {
	padding: 0.75rem 1rem 0.25rem;
}

.play-header__content {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.play-header__search {
	flex: 1;
}

.play-header__button {
	height: 2.5rem;
}
