/* || Base styles */
.draw-options-dialog {
  width: 16rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 3rem -0.75rem rgb(0 0 0 / 0.25);
  background: var(--popover);
  border: 1px solid var(--border);
  padding: 1rem;
  z-index: 50;
}

.draw-options-dialog[data-positioned="true"] {
  position: absolute;
  left: 6rem;
  top: 8rem;
}

/* Reuse drawing-properties classes for consistency */
