/* || Base styles */
.color-swatch-indicator {
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  border: 2px solid;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

/* || Theme variants */
.color-swatch-indicator[data-theme="dark"] {
  border-color: rgb(31 41 55);
}

.color-swatch-indicator[data-theme="light"] {
  border-color: white;
}
