/* || Base styles */
.animated-player {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	border-radius: 50%;
	will-change: left, top;
}

.animated-player-label {
	user-select: none;
	font-weight: 700;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

/* || Variants */
.animated-player[data-ghost="true"] {
	opacity: 0.3;
	background-color: transparent;
}
