/* || Alert Component */
.alert {
  position: relative;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 12px 16px;
  font-size: 0.875rem;
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 0 0;
  row-gap: 2px;
  align-items: start;
}

.alert:has(> svg) {
  grid-template-columns: calc(var(--spacing) * 4) 1fr;
  column-gap: 12px;
}

.alert > svg {
  width: 1rem;
  height: 1rem;
  transform: translateY(2px);
  color: currentColor;
}

/* || Variants - Default */
.alert[data-variant="default"] {
  background: var(--card);
  color: var(--card-foreground);
}

/* || Variants - Destructive */
.alert[data-variant="destructive"] {
  color: var(--destructive);
  background: var(--card);
}

.alert[data-variant="destructive"] > svg {
  color: currentColor;
}

.alert[data-variant="destructive"] [data-slot="alert-description"] {
  color: color-mix(in oklch, var(--destructive) 90%, transparent);
}

/* || Alert Title */
.alert-title {
  grid-column-start: 2;
  min-height: 1rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* || Alert Description */
.alert-description {
  grid-column-start: 2;
  display: grid;
  justify-items: start;
  gap: 4px;
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.alert-description p {
  line-height: 1.625;
}
