/* || Form Component */

/* || Form Item */
.form-item {
  display: grid;
  gap: 8px;
}

/* || Form Label */
.form-label[data-error="true"] {
  color: var(--destructive);
}

/* || Form Description */
.form-description {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

/* || Form Message */
.form-message {
  font-size: 0.875rem;
  color: var(--destructive);
}
