/* || Base styles */
.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: var(--font-weight-medium);
  user-select: none;
}

/* || States */
.label:has(+ :disabled) {
  cursor: not-allowed;
  opacity: 0.5;
}

:has([data-disabled="true"]) .label {
  pointer-events: none;
  opacity: 0.5;
}
