/* || Base styles */
.scroll-area {
  position: relative;
}

.scroll-area-viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  outline: none;
  transition: color 200ms, box-shadow 200ms;
}

/* || States */
.scroll-area-viewport:focus-visible {
  outline: 1px solid var(--ring);
  box-shadow: 0 0 0 3px color-mix(in oklch, var(--ring) 50%, transparent);
}

/* || Scrollbar */
.scroll-area-scrollbar {
  display: flex;
  padding: 1px;
  touch-action: none;
  user-select: none;
  transition: colors 200ms;
}

/* || Scrollbar orientation variants */
.scroll-area-scrollbar[data-orientation="vertical"] {
  height: 100%;
  width: 10px;
  border-left: 1px solid transparent;
}

.scroll-area-scrollbar[data-orientation="horizontal"] {
  height: 10px;
  flex-direction: column;
  border-top: 1px solid transparent;
}

/* || Scrollbar thumb */
.scroll-area-thumb {
  position: relative;
  flex: 1;
  background: var(--border);
  border-radius: 9999px;
}
