/* || Base styles */
.separator {
  background: var(--border);
  flex-shrink: 0;
}

/* || Variants */
.separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.separator[data-orientation="vertical"] {
  width: 1px;
  height: 100%;
}
